@()

<head>
  <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/styles.css")">
</head>

@main("Welcome to Play") {
  <h1>Scala Plan AI</h1>
  <p>Benvenuto nel mio primo progetto Play Framework con Scala!</p>
  <p><a href="@routes.HomeController.about()">About</a></p>
  <!-- Button per aprire la popup -->
  <button id="openPopup">Mostra informazioni</button>
  <!-- La popup dialog box -->
  <div id="myPopup" class="popup">
    <div class="popup-content">
      <span class="close">&times;</span>
      <h2>Informazioni importanti</h2>
      <p>Questa è una popup dialog box per mostrare messaggi interattivi.</p>
    </div>
  </div>
}
@main("Menu") {
  <h1>Menu</h1>
  <ul>
      <li><a href="/log-passati">Log Passati</a></li>
      <li><a href="/activity-editor">Activity Editor</a></li>
      <li><a href="/log-futuri">Log Futuri</a></li>
  </ul>
}